domain: suskins.co.uk
mediaserver_ip: 192.168.0.101
docker_ip: 192.168.0.102
monitor_ip: 192.168.0.104
nas_ip: 192.168.0.100
timezone: Europe/London

cloudflare_ips:
  - "173.245.48.0/20"
  - "103.21.244.0/22"
  - "103.22.200.0/22"
  - "103.31.4.0/22"
  - "141.101.64.0/18"
  - "108.162.192.0/18"
  - "190.93.240.0/20"
  - "188.114.96.0/20"
  - "197.234.240.0/22"
  - "198.41.128.0/17"
  - "162.158.0.0/15"
  - "104.16.0.0/13"
  - "104.24.0.0/14"
  - "172.64.0.0/13"
  - "131.0.72.0/22"
mount_nas: false
firewall: false
docker_services: []
username: "{{ ansible_user }}"
puid: 1000
pgid: 1000
journal_vacuum_time: 30d

packages:
  - wget
  - curl
  - git
  - qemu-guest-agent
  - sudo
  - ufw
  - nfs-common

docker_dependencies:
  - ca-certificates
  - gnupg
  - curl

docker_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-compose-plugin

core_containers:
  - alloy

static_services:
  # Bolsters
  - name: home
    host: "home.{{ domain }}"
    ip: 192.168.0.102
    friendly_name: Docker
    port: 3000
    scheme: http
    secured: true
    proxied: true

  - name: prometheus
    ip: 192.168.0.104
    host: "gatus.{{ domain }}"
    friendly_name: Monitoring
    port: 9090
    scheme: http
    secured: true
    proxied: true
    homepage: true

  - name: gatus
    ip: 192.168.0.104
    host: "gatus.{{ domain }}"
    friendly_name: Monitoring
    port: 8080
    scheme: http
    secured: true
    proxied: true
    homepage: true

  # Proxmox
  - name: proxmox
    host: "pve.{{ domain }}"
    ip: 192.168.0.253
    friendly_name: General
    port: 8006
    scheme: https
    secured: false
    healthcheck: true
    healthcheck_path: "/#v1:0:18:4:::::::"
    homepage: true
    proxied: true

  # Unifi
  - name: unifi
    host: "unifi.{{ domain }}"
    ip: 192.168.0.1
    friendly_name: General
    port: 443
    scheme: https
    middleware: unifi-headers
    secured: false
    healthcheck: true
    homepage: true
    proxied: true

  # NAS
  - name: truenas
    host: "nas.{{ domain }}"
    ip: 192.168.0.100
    friendly_name: General
    port: 443
    scheme: https
    secured: false
    healthcheck: true
    healthcheck_path: "/ui/signin"
    homepage: true
    proxied: true

  # Home Assistant
  - name: homeassistant
    host: "homeassistant.{{ domain }}"
    ip: 192.168.0.65
    friendly_name: General
    port: 8123
    scheme: http
    secured: false
    healthcheck: true
    homepage: true
    proxied: true

  # Games
  - name: games
    host: "games.{{ domain }}"
    ip: 192.168.0.202
    friendly_name: Games
    port: 80
    scheme: http
    healthcheck: true
    secured: true
    homepage: true
    proxied: true

  - name: starscream
    host: "starscream.{{ domain }}"
    ip: 192.168.0.125
    friendly_name: Games
    port: 8080
    scheme: http
    secured: false
    proxied: true

  - name: minecraft
    host: "minecraft.{{ domain }}"
    ip: 192.168.0.125
    friendly_name: Games
    port: 25566
    scheme: http
    healthcheck: true
    secured: true
    homepage: true
    proxied: true
