monitor_ip: 192.168.0.104
nas_ip: 192.168.0.100
timezone: Europe/London
mount_nas: false
firewall: false
prometheus_scrape_configs: []
aggregated_scrape_configs: []

packages:
  - wget
  - curl
  - git
  - qemu-guest-agent
  - sudo
  - ufw
  - nfs-common

docker_dependencies:
  - ca-certificates
  - gnupg
  - curl

docker_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-compose-plugin

core_containers:
  - cadvisor
  - alloy

static_services:
  # Bolsters
  - container: Home
    host: home.suskins.co.uk
    ip: 192.168.0.102
    port: 3000
    secured: true
    hidden: true

  - container: Traefik
    host: traefik.suskins.co.uk
    ip: 192.168.0.105
    port: 8080
    secured: true
    hidden: true

  - container: Gatus
    host: gatus.suskins.co.uk
    ip: 192.168.0.104
    port: 8080
    secured: true
    hidden: true

  # Proxmox
  - container: proxmox
    host: pve.suskins.co.uk
    ip: 192.168.0.253
    port: 8006
    scheme: https
    secured: false

  # Unifi
  - container: unifi
    host: unifi.suskins.co.uk
    ip: 192.168.0.1
    port: 443
    scheme: https    
    secured: false

  # NAS
  - container: truenas
    host: nas.suskins.co.uk
    ip: 192.168.0.100
    port: 443
    scheme: https    
    secured: false

  # Home Assistant
  - container: home-assistant
    host: homeassistant.suskins.co.uk
    ip: 192.168.0.65
    port: 8123
    secured: false

  # Games
  - container: pelican-panel
    host: games.suskins.co.uk
    ip: 192.168.0.202
    port: 80
    secured: true

  - container: starscream
    host: starscream.suskins.co.uk
    ip: 192.168.0.125
    port: 8080
    secured: false
    hidden: true

  - container: minecraft
    host: minecraft.suskins.co.uk
    ip: 192.168.0.125
    port: 25566
    secured: true

  # Pubgolf
  - container: pubgolf
    host: pubgolf.me
    ip: 192.168.0.102
    port: 3003
    secured: false
    hidden: true

  - container: pubgolf-api
    host: api.pubgolf.me
    ip: 192.168.0.102
    port: 8080
    secured: false
    hidden: true
