domain: suskins.co.uk
mediaserver_ip: 192.168.0.101
docker_ip: 192.168.0.102
monitor_ip: 192.168.0.104
nas_ip: 192.168.0.100
timezone: Europe/London
mount_nas: false
firewall: false
docker_services: []
username: "{{ ansible_user }}"
puid: 1000
pgid: 1000
journal_vacuum_time: 30d

packages:
  - wget
  - curl
  - git
  - qemu-guest-agent
  - sudo
  - ufw
  - nfs-common

docker_dependencies:
  - ca-certificates
  - gnupg
  - curl

docker_packages:
  - docker-ce
  - docker-ce-cli
  - containerd.io
  - docker-compose-plugin

core_containers:
  - cadvisor
  - alloy

static_services:
  # Bolsters
  - name: Home
    host: home.suskins.co.uk
    ip: 192.168.0.102
    port: 3000
    scheme: http
    secured: true
    proxied: true

  - name: Gatus
    ip: 192.168.0.104
    host: gatus.suskins.co.uk
    port: 8080
    scheme: http
    secured: true
    proxied: true
    homepage: true

  # Proxmox
  - name: proxmox
    host: pve.suskins.co.uk
    ip: 192.168.0.253
    port: 8006
    scheme: https
    secured: false
    homepage: true
    proxied: true

  # Unifi
  - name: unifi
    host: unifi.suskins.co.uk
    ip: 192.168.0.1
    port: 443
    scheme: https
    middleware: unifi-headers
    secured: false
    homepage: true
    proxied: true

  # NAS
  - name: truenas
    host: nas.suskins.co.uk
    ip: 192.168.0.100
    port: 443
    scheme: https
    secured: false
    homepage: true
    proxied: true

  # Home Assistant
  - name: homeassistant
    host: homeassistant.suskins.co.uk
    ip: 192.168.0.65
    port: 8123
    scheme: http
    secured: false
    homepage: true
    proxied: true

  # Games
  - name: games
    host: games.suskins.co.uk
    ip: 192.168.0.202
    port: 80
    scheme: http
    secured: true
    homepage: true
    proxied: true

  - name: starscream
    host: starscream.suskins.co.uk
    ip: 192.168.0.125
    port: 8080
    scheme: http
    secured: false
    proxied: true

  - name: minecraft
    host: minecraft.suskins.co.uk
    ip: 192.168.0.125
    port: 25566
    scheme: http
    secured: true
    homepage: true
    proxied: true
