---
base_dir: /home/docker/server-docker

special_containers:
  - homepage

containers:
  - grocy
  - mealie
  - postgres
  - pubgolf-postgres
  - pubgolf-backend
  - pubgolf-frontend
  - cloudflare-ddns
  - adguard
