---
base_dir: /home/mediaserver/server-mediaserver
mount_nas: true

containers:
  - plex
  - sonarr
  - radarr
  - overseerr
  - prowlarr
  - bazarr
  - gluetun
  - metube
  - qbittorrent
  - doplarr
  - open-books
  - profilarr
  - flaresolverr
  - shelfmark
  - huntarr
  - cleanuparr
