global:
  scrape_interval: 15s

scrape_configs:

{% for name, group in (all_services | selectattr('metrics', 'defined') | selectattr('metrics') | list) | groupby('name') %}
  - job_name: "{{ name }}"
    scrape_interval: 60s
{% if group[0].metrics_path is defined %}
    metrics_path: {{ group[0].metrics_path }}
{% endif %}
{% if group[0].metrics_params is defined %}
    params:
{% for k, v in group[0].metrics_params.items() %}
      {{ k }}: ["{{ v }}"]
{% endfor %}
{% endif %}
    static_configs:
{% for svc in group %}
      - targets: ["{{ svc.ip }}:{{ svc.metrics_port | default(svc.port) }}"]
        labels:
          host: "{{ svc.friendly_name | default('') }}"
{% endfor %}
{% endfor %}

  - job_name: "prometheus"
    scrape_interval: 5s
    static_configs:
      - targets: ["localhost:9090"]
        labels:
          host: "Monitoring"
