global:
  scrape_interval: 15s

scrape_configs:
{% for scrape_config in aggregated_scrape_configs %}
  - job_name: "{{ scrape_config.job_name }}"
    static_configs:
{% for static_config in scrape_config.static_configs %}
      - targets: {{ static_config.targets | to_nice_yaml }}
{% endfor %}
{% endfor %}
  - job_name: "prometheus"
    scrape_interval: 5s
    static_configs:
      - targets: ["localhost:9090"]