---
- name: AGGREGATE - Collect docker_services from all hosts
  delegate_to: localhost
  run_once: true
  ansible.builtin.set_fact:
    all_docker_services: >-
      {{ groups['all']
         | map('extract', hostvars, 'docker_services')
         | reject('equalto', None)
         | list
         | sum(start=[]) }}

- name: AGGREGATE - Combine static_services and docker_services
  delegate_to: localhost
  run_once: true
  ansible.builtin.set_fact:
    all_services: >-
      {{ (static_services | default([])) + (all_docker_services | default([])) }}
