---
- name: DOCKER - Set amd64 architecture
  ansible.builtin.set_fact:
    docker_arch: amd64
  when: ansible_architecture == "x86_64"

- name: DOCKER - Set arm64 architecture
  ansible.builtin.set_fact:
    docker_arch: arm64
  when: ansible_architecture == "aarch64"

- name: DOCKER - Set RedHat distribution
  ansible.builtin.set_fact:
    rh_distribution: "{{ 'rhel' if ansible_distribution == 'RedHat' else ansible_distribution | lower }}"

- name: DOCKER - Install Docker dependencies
  ansible.builtin.package:
    name: "{{ docker_dependencies }}"
    state: present

- name: DOCKER - Create keyrings directory
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"
  when: ansible_distribution in ["Ubuntu", "Debian"]

- name: DOCKER - Download Docker GPG key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"
  when: ansible_distribution in ["Ubuntu", "Debian"]

- name: DOCKER - Add Docker repository for apt
  ansible.builtin.apt_repository:
    repo: deb [arch={{ docker_arch }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable
    state: present
  when: ansible_distribution in ["Ubuntu", "Debian"]

- name: DOCKER - Install docker
  ansible.builtin.package:
    name: "{{ docker_packages }}"
    state: present

- name: DOCKER - Ensure Docker group exists
  ansible.builtin.group:
    name: docker
    state: present

- name: DOCKER - Add user to Docker group
  ansible.builtin.user:
    name: "{{ username }}"
    groups: docker
    append: true

- name: DOCKER - Enable Docker service
  ansible.builtin.service:
    name: docker
    enabled: true
    state: started

- name: DOCKER - Create custom docker network
  community.docker.docker_network:
    name: homelab
    state: present
    driver: bridge

- name: DOCKER - Deploy core containers
  ansible.builtin.include_tasks:
    file: "../tasks/docker/{{ item }}.yml"
  loop: "{{ core_containers }}"
