################################################################
# Global Configuration
################################################################
[global]
  checkNewVersion = true
  sendAnonymousUsage = false

################################################################
# Entrypoints Configuration
################################################################
[entryPoints]
  [entryPoints.web]
    address = ":80"

    [entryPoints.web.forwardedHeaders]
      trustedIPs = [
{% for ip in cloudflare_ips %}
        "{{ ip }}",
{% endfor %}
      ]

  [entryPoints.websecure]
    address = ":443"

################################################################
# Logging Configuration
################################################################
[log]
  level = "INFO"

[accessLog]
  filePath = "/logs/traefik.log"
  format = "json"
  bufferingSize = 0

  [accessLog.filters]
    statusCodes = ["200-299", "400-599"]

  [accessLog.fields]
    [accessLog.fields.headers]
      defaultMode = "drop"
      [accessLog.fields.headers.names]
        User-Agent = "keep"

################################################################
# API and Dashboard Configuration
################################################################
[api]
  dashboard = true
  insecure = true

################################################################
# Ping Configuration
################################################################
[ping]

################################################################
# Metrics
################################################################
[metrics]
  [metrics.prometheus]

################################################################
# Providers
################################################################
[providers]
  [providers.file]
    directory = "/etc/traefik/dynamic"
    watch = true
