- name: Allow traffic from Cloudflare IP ranges on port 443
  community.general.ufw:
    rule: allow
    from_ip: "{{ item }}"
    to_port: 443
    proto: tcp
  loop:
    - "173.245.48.0/20"
    - "103.21.244.0/22"
    - "103.22.200.0/22"
    - "103.31.4.0/22"
    - "141.101.64.0/18"
    - "108.162.192.0/18"
    - "190.93.240.0/20"
    - "188.114.96.0/20"
    - "197.234.240.0/22"
    - "198.41.128.0/17"
    - "162.158.0.0/15"
    - "104.16.0.0/13"
    - "104.24.0.0/14"
    - "172.64.0.0/13"
    - "131.0.72.0/22"

- name: Allow traffic from Local Domain on various ports
  community.general.ufw:
    rule: allow
    from_ip: "192.168.0.0/24"
    to_port: "{{ item }}"
    proto: tcp
  loop:
    - 22 # SSH
    - 8080 # Traefik
    - 9300 # Authentik Metrics
    - 3100 # Loki
    - 9000 # Authentik

- name: Allow traffic from Docker Subnets to port 9000
  community.general.ufw:
    rule: allow
    from_ip: "{{ item }}"
    to_port: 9000
    proto: tcp
  loop:
    - "172.17.0.0/16" # Bridge
    - "172.18.0.0/16" # Homelab

- name: Enable COMMUNITY.GENERAL.UFW
  community.general.ufw:
    state: enabled
    default: deny
