- name: Allow traffic from Cloudflare IP ranges on port 443
  community.general.ufw:
    rule: allow
    from_ip: "{{ item }}"
    to_port: 443
    proto: tcp
  loop: "{{ cloudflare_ips }}"

- name: Allow traffic from Local Domain on various ports
  community.general.ufw:
    rule: allow
    from_ip: "192.168.0.0/24"
    to_port: "{{ item }}"
    proto: tcp
  loop:
    - 22 # SSH
    - 8080 # Traefik
    - 9300 # Authentik Metrics
    - 3100 # Loki
    - 9000 # Authentik
    - 9091 # Authelia

- name: Allow traffic from Docker Subnets to port 9000
  community.general.ufw:
    rule: allow
    from_ip: "{{ item }}"
    to_port: 9000
    proto: tcp
  loop:
    - "172.17.0.0/16" # Bridge
    - "172.18.0.0/16" # Homelab

- name: Enable COMMUNITY.GENERAL.UFW
  community.general.ufw:
    state: enabled
    default: deny
