---
- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0777"
  loop:
    - "{{ base_dir }}/prometheus"
    - "{{ base_dir }}/prometheus/config"

- name: Aggregate services from all hosts
  ansible.builtin.include_role:
    name: service_discovery
    tasks_from: aggregate

- name: Generate scrape config
  ansible.builtin.template:
    src: config.yml.j2
    dest: "{{ base_dir }}/prometheus/config/prometheus.yml"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Deploy alert rules
  ansible.builtin.copy:
    src: alerts.rule.yml
    dest: "{{ base_dir }}/prometheus/config/alert.rules.yml"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Deploy container
  community.docker.docker_container:
    name: prometheus
    image: "{{ prometheus_image }}"
    restart_policy: always
    state: started
    pull: true
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--web.enable-remote-write-receiver"
    networks:
      - name: homelab
    ports:
      - "9090:9090"
    volumes:
      - "{{ base_dir }}/prometheus/config:/etc/prometheus"
      - "{{ base_dir }}/prometheus/data:/prometheus"

- name: Register service
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [prometheus_service_entry] }}"
  vars:
    prometheus_service_entry:
      name: prometheus
      host: "prometheus.{{ domain }}"
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 9090
      scheme: http
      secured: true
      healthcheck: true
      homepage: true
      proxied: true
