{% set services = static_services + all_services %}

http:
  routers:
{% for svc in services %}
    {{ svc.container }}:
      rule: "Host(`{{ svc.host | default(svc.container ~ '.suskins.co.uk') }}`)"
      entryPoints:
        - websecure
      middlewares:
        {% if svc.secured is not defined or svc.secured %}- authentik{% endif %}
        - ratelimit
      tls:
        {% if svc.tls is defined %}
        store: "{{ svc.tls }}"
        {% else %}
        certResolver: "default"
        {% endif %}
      service: "{{ svc.container }}"
{% endfor %}

  services:
{% for svc in services %}
    {{ svc.container }}:
      loadBalancer:
        {% if svc.scheme is defined and svc.scheme == "https" %}
        serversTransport: httpsTransport
        {% endif %}
        servers:
          - url: "{{ svc.scheme | default('http') }}://{{ svc.ip }}:{{ svc.port }}"
{% endfor %}

serversTransports:
  httpsTransport:
    insecureSkipVerify: true