################################################################
# HTTP Configuration (Routers & Services)
################################################################
[http]
  [http.routers]
{% for svc in static_services %}
    [http.routers.{{ svc.name }}]
      rule = "Host(`{{ svc.host }}`)"
      service = "{{ svc.name }}"
      entryPoints = ["websecure"]
      middlewares = [{% if svc.secured is not defined or svc.secured %}"authentik", {% endif %}"ratelimit"]
      tls = true
{% endfor %}
{% for svc in all_services %}
    [http.routers.{{ svc.container }}]
      rule = "Host(`{{ svc.container }}.suskins.co.uk`)"
      service = "{{ svc.container }}"
      entryPoints = ["websecure"]
      middlewares = [{% if svc.secured is not defined or svc.secured %}"authentik", {% endif %}"ratelimit"]
      tls = true
{% endfor %}

  [http.services]
{% for svc in static_services %}
    [http.services.{{ svc.name }}.loadBalancer]
      {% if svc.scheme is defined and svc.scheme == 'https' %}
      serversTransport = "httpsTransport"
      {% endif %}
      [[http.services.{{ svc.name }}.loadBalancer.servers]]
        url = "{{ svc.scheme | default('http') }}://{{ svc.ip }}:{{ svc.port }}"
{% endfor %}
{% for svc in all_services %}
    [http.services.{{ svc.container }}.loadBalancer]
      {% if svc.scheme is defined and svc.scheme == 'https' %}
      serversTransport = "httpsTransport"
      {% endif %}
      [[http.services.{{ svc.container }}.loadBalancer.servers]]
        url = "{{ svc.scheme | default('http') }}://{{ svc.ip }}:{{ svc.port }}"
{% endfor %}

[http.serversTransports.httpsTransport]
  insecureSkipVerify = true