{% set services = all_services | selectattr('proxied', 'defined') | selectattr('proxied') | list %}

################################################################
# HTTP Configuration (Routers & Services)
################################################################
http:
  routers:
{% for svc in services %}
    {{ svc.name }}:
      rule: "Host(`{{ svc.host }}`){% if svc.path_prefix is defined %} && PathPrefix(`{{ svc.path_prefix }}`){% endif %}"
{% if svc.name == 'traefik' %}
      service: "api@internal"
{% else %}
      service: "{{ svc.name }}"
{% endif %}
      entryPoints:
        - websecure
      middlewares:
{% if svc.secured %}
        - authelia
{% endif %}
        - ratelimit
        - security-headers
{% if svc.middleware is defined %}
        - {{ svc.middleware }}
{% endif %}
      tls: true
{% endfor %}

  services:
{% for svc in services %}
{% if svc.name != 'traefik' %}
    {{ svc.name }}:
      loadBalancer:
{% if svc.scheme == 'https' %}
        serversTransport: httpsTransport
{% endif %}
        servers:
          - url: "{{ svc.scheme }}://{{ svc.ip }}:{{ svc.port }}"
{% endif %}
{% endfor %}

  serversTransports:
    httpsTransport:
      insecureSkipVerify: true
