---
- name: AUTHENTIK - Create directories and set permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0777"
  loop:
    - "{{ base_dir }}/authentik/postgres/pgdata"
    - "{{ base_dir }}/authentik/redis"
    - "{{ base_dir }}/authentik/media"
    - "{{ base_dir }}/authentik/custom-templates"
    - "{{ base_dir }}/authentik/certs"

- name: AUTHENTIK SERVER - Create container
  community.docker.docker_container:
    name: authentik_server
    image: ghcr.io/goauthentik/server:2025.10.3
    restart_policy: always
    state: started
    pull: true
    command: server
    networks:
      - name: homelab
    ports:
      - "9000:9000"
      - "9443:9443"
      - "9300:9300"
    env:
      AUTHENTIK_REDIS__HOST: "authentik_redis"
      AUTHENTIK_POSTGRESQL__HOST: "authentik_postgres"
      AUTHENTIK_POSTGRESQL__USER: "authentik"
      AUTHENTIK_POSTGRESQL__NAME: "authentik"
      AUTHENTIK_POSTGRESQL__PASSWORD: "{{ PG_PASS }}"
      AUTHENTIK_SECRET_KEY: "{{ AUTHENTIK_SECRET_KEY }}"
    volumes:
      - "{{ base_dir }}/authentik/media:/media"
      - "{{ base_dir }}/authentik/custom-templates:/templates"

- name: AUTHENTIK - Define service entry
  ansible.builtin.set_fact:
    authentik_entry:
      name: authentik
      host: authentik.suskins.co.uk
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      secured: false
      port: 9000
      scheme: http
      homepage: true
      proxied: true
      metrics_enabled: true
      metrics_port: 9300

- name: AUTHENTIK - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [authentik_entry] }}"
