---
- name: REDIS - Create container
  community.docker.docker_container:
    name: authentik_redis
    image: redis:alpine
    command: --save 60 1 --loglevel warning
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 30s
      retries: 5
      timeout: 3s
    ports:
      - "6379:6379"
    volumes:
      - "{{ base_dir }}/authentik/redis:/data"

- name: AUTHENTIK_REDIS - Define service entry
  ansible.builtin.set_fact:
    authentik_redis_entry:
      name: authentik-redis
      host: "authentik-redis.{{ domain }}"
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 6379
      scheme: http
      secured: false

- name: AUTHENTIK_REDIS - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [authentik_redis_entry] }}"
