---
- name: POSTGRES - Create container
  community.docker.docker_container:
    name: authentik_postgres
    image: postgres:16-alpine
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    ports:
      - "5432:5432"
    volumes:
      - "{{ base_dir }}/authentik/postgres/pgdata:/var/lib/postgresql/data"
    env:
      POSTGRES_PASSWORD: "{{ PG_PASS }}"
      POSTGRES_USER: "authentik"
      POSTGRES_DB: "authentik"

- name: AUTHENTIK_POSTGRES - Define service entry
  ansible.builtin.set_fact:
    authentik_postgres_entry:
      name: authentik-postgres
      host: "authentik-postgres.{{ domain }}"
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 5432
      scheme: http
      secured: false

- name: AUTHENTIK_POSTGRES - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [authentik_postgres_entry] }}"
