---
- name: BAZARR - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/bazarr"

- name: BAZARR - Create container
  community.docker.docker_container:
    name: bazarr
    image: ghcr.io/linuxserver/bazarr:1.5.3
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    ports:
      - "6767:6767"
    volumes:
      - "{{ base_dir }}/bazarr:/config"
      - "/mnt/media:/media"
    env:
      PUID: "{{ puid | string }}"
      PGID: "{{ pgid | string }}"
      TZ: "{{ timezone }}"

- name: BAZARR - Define service entry
  ansible.builtin.set_fact:
    bazarr_entry:
      name: bazarr
      host: bazarr.suskins.co.uk
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 6767
      scheme: http
      secured: true
      hidden: false      

- name: BAZARR - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [bazarr_entry] }}"
