---
- name: BOOKLORE MARIADB - Create directory
  ansible.builtin.file:
    path: "{{ base_dir }}/booklore/mariadb"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"

- name: BOOKLORE MARIADB - Create container
  community.docker.docker_container:
    name: booklore_mariadb
    image: mariadb:11.4.5
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    volumes:
      - "{{ base_dir }}/booklore/mariadb:/var/lib/mysql"
    env:
      MYSQL_ROOT_PASSWORD: "{{ BOOKLORE_DB_ROOT_PASSWORD }}"
      MYSQL_DATABASE: "booklore"
      MYSQL_USER: "booklore"
      MYSQL_PASSWORD: "{{ BOOKLORE_DB_PASSWORD }}"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5

- name: BOOKLORE_MARIADB - Define service entry
  ansible.builtin.set_fact:
    booklore_mariadb_entry:
      name: booklore-mariadb
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"

- name: BOOKLORE_MARIADB - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [booklore_mariadb_entry] }}"
