---
- name: CADVISOR - Create container
  community.docker.docker_container:
    name: cadvisor
    image: gcr.io/cadvisor/cadvisor:v0.52.1
    restart_policy: always
    state: started
    pull: true
    ports:
      - "9098:8080"
    networks:
      - name: homelab
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro

- name: CADVISOR - Define service entry
  ansible.builtin.set_fact:
    cadvisor_entry:
      name: cadvisor
      host: cadvisor.suskins.co.uk
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 9098
      scheme: http
      secured: false
      proxied: false
      metrics_enabled: true
      metrics_port: 9098

- name: CADVISOR - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [cadvisor_entry] }}"
