---
- name: CLOUDFLARE-DDNS - Create container
  community.docker.docker_container:
    name: cloudflare-ddns
    image: favonia/cloudflare-ddns
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    env:
      PROXIED: "true"
      CLOUDFLARE_API_TOKEN: "{{ CLOUDFLARE_API_TOKEN }}"
      DOMAINS: "{{ domain }},pubgolf.me"
      UPTIMEKUMA: "http://{{ monitor_ip }}:3001/api/push/7nZobsusaR3Qduk42z2kWZTxj9vvuCcV?status=up&msg=OK&ping="
      IP6_PROVIDER: "none"

- name: CLOUDFLARE-DDNS - Define service entry
  ansible.builtin.set_fact:
    cloudflare_ddns_entry:
      name: cloudflare-ddns
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"

- name: CLOUDFLARE-DDNS - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [cloudflare_ddns_entry] }}"
