---
- name: DOPLARR - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/doplarr"

- name: DOPLARR - Create container
  community.docker.docker_container:
    name: doplarr
    image: ghcr.io/kiranshila/doplarr:v3.7.0
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    env:
      DISCORD__TOKEN: "{{ DISCORD__TOKEN }}"
      OVERSEERR__URL: "http://{{ mediaserver_ip }}:5055"
      OVERSEERR__API: "{{ OVERSEERR__API }}"

- name: DOPLARR - Define service entry
  ansible.builtin.set_fact:
    doplarr_entry:
      name: doplarr
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"

- name: DOPLARR - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [doplarr_entry] }}"
