---
- name: GATUS - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/gatus"

- name: GATUS - Aggregate services from all hosts
  ansible.builtin.include_tasks:
    file: "../tasks/core/aggregate_services.yml"

- name: GATUS - Create config
  ansible.builtin.template:
    src: ../config/gatus/config.yaml.j2
    dest: "{{ base_dir }}/gatus/config.yaml"
    owner: "{{ username }}"
    group: "{{ username }}"
  vars:
    monitored_services: "{{ all_services | default([]) }}"

- name: GATUS - Create container
  community.docker.docker_container:
    name: gatus
    image: twinproduction/gatus:v5.33.1
    restart_policy: always
    state: started
    pull: true
    ports:
      - "8080:8080"
    networks:
      - name: homelab
    volumes:
      - "{{ base_dir }}/gatus:/config"
