---
- name: GLUETUN - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/gluetun"

- name: GLUETUN - Create container
  community.docker.docker_container:
    name: gluetun
    image: qmcgaw/gluetun:v3.40.3
    restart_policy: always
    state: started
    pull: true
    capabilities:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - "8888:8888/tcp" # HTTP proxy
      - "8388:8388/tcp" # Shadowsocks
      - "8388:8388/udp" # Shadowsocks
      - "9091:9091" # QBittorrent
      - "51413:51413"
      - "51413:51413/udp"
    volumes:
      - "{{ base_dir }}/gluetun:/gluetun"
    env:
      VPN_SERVICE_PROVIDER: "windscribe"
      VPN_TYPE: "openvpn"
      OPENVPN_USER: "{{ OPENVPN_USER }}"
      OPENVPN_PASSWORD: "{{ OPENVPN_PASSWORD }}"
      SERVER_REGIONS: "Netherlands"

- name: GLUETUN - Define service entry
  ansible.builtin.set_fact:
    gluetun_entry:
      name: gluetun
      host: "gluetun.{{ domain }}"
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 8888
      scheme: http
      secured: false

- name: GLUETUN - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [gluetun_entry] }}"
