---
- name: GRAFANA - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0777"
  loop:
    - "{{ base_dir }}/grafana"

- name: GRAFANA - Create container
  community.docker.docker_container:
    name: grafana
    image: grafana/grafana:12.3.1
    restart_policy: always
    state: started
    pull: true
    ports:
      - "3000:3000"
    networks:
      - name: homelab
    volumes:
      - "{{ base_dir }}/grafana:/var/lib/grafana"
    env:
      GF_AUTH_GENERIC_OAUTH_ENABLED: "true"
      GF_AUTH_GENERIC_OAUTH_NAME: "authentik"
      GF_AUTH_GENERIC_OAUTH_CLIENT_ID: "{{ GRAFANA_OIDC_CLIENT_ID }}"
      GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "{{ GRAFANA_OIDC_CLIENT_SECRET }}"
      GF_AUTH_GENERIC_OAUTH_SCOPES: "openid profile email"
      GF_AUTH_GENERIC_OAUTH_AUTH_URL: "https://authentik.{{ domain }}/application/o/authorize/"
      GF_AUTH_GENERIC_OAUTH_TOKEN_URL: "https://authentik.{{ domain }}/application/o/token/"
      GF_AUTH_GENERIC_OAUTH_API_URL: "https://authentik.{{ domain }}/application/o/userinfo/"
      GF_AUTH_SIGNOUT_REDIRECT_URL: "https://authentik.{{ domain }}/application/o/grafana/end-session/"
      GF_AUTH_OAUTH_AUTO_LOGIN: "true"
      GF_SERVER_ROOT_URL: "https://grafana.{{ domain }}"
      GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: "contains(groups, 'Suskins Admin') && 'Admin' || 'Viewer'"
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: Loki
          type: loki
          access: proxy
          orgId: 1
          url: http://loki:3100
          basicAuth: false
          version: 1
          editable: false
        - name: Prometheus
          type: prometheus
          access: proxy
          orgId: 1
          url: http://prometheus:9090
          basicAuth: false
          isDefault: true
          version: 1
          editable: false
        EOF
        /run.sh

- name: GRAFANA - Define service entry
  ansible.builtin.set_fact:
    grafana_entry:
      name: grafana
      host: grafana.suskins.co.uk
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 3000
      healthcheck_path: '/api/health'
      scheme: http
      secured: true
      homepage: true
      proxied: true

- name: GRAFANA - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [grafana_entry] }}"
