---
- name: GRAFANA - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "472"
    group: "472"
    mode: "0755"
  loop:
    - "{{ base_dir }}/grafana"

- name: GRAFANA - Create container
  community.docker.docker_container:
    name: grafana
    image: grafana/grafana:12.3.2
    restart_policy: always
    state: started
    pull: true
    ports:
      - "3000:3000"
    networks:
      - name: homelab
    volumes:
      - "{{ base_dir }}/grafana:/var/lib/grafana"
    env:
      GF_AUTH_GENERIC_OAUTH_ENABLED: "true"
      GF_AUTH_GENERIC_OAUTH_NAME: "authelia"
      GF_AUTH_GENERIC_OAUTH_CLIENT_ID: "grafana"
      GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: "{{ AUTHELIA_OIDC_GRAFANA_SECRET }}"
      GF_AUTH_GENERIC_OAUTH_SCOPES: "openid profile email groups"
      GF_AUTH_GENERIC_OAUTH_EMPTY_SCOPES: "false"
      GF_AUTH_GENERIC_OAUTH_AUTH_URL: "https://authelia.{{ domain }}/api/oidc/authorization"
      GF_AUTH_GENERIC_OAUTH_TOKEN_URL: "https://authelia.{{ domain }}/api/oidc/token"
      GF_AUTH_GENERIC_OAUTH_API_URL: "https://authelia.{{ domain }}/api/oidc/userinfo/"
      GF_AUTH_GENERIC_OAUTH_LOGIN_ATTRIBUTE_PATH: "preferred_username"
      GF_AUTH_GENERIC_OAUTH_NAME_ATTRIBUTE_PATH: "name"
      GF_AUTH_GENERIC_OAUTH_GROUP_ATTRIBUTE_PATH: "groups"
      GF_AUTH_GENERIC_OAUTH_USE_PKCE: "true"
      GF_AUTH_GENERIC_OAUTH_AUTH_STYLE: "InHeader"
      GF_AUTH_OAUTH_AUTO_LOGIN: "true"
      GF_SERVER_ROOT_URL: "https://grafana.{{ domain }}"
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: Loki
          type: loki
          access: proxy
          orgId: 1
          url: http://loki:3100
          basicAuth: false
          version: 1
          editable: false
        - name: Prometheus
          type: prometheus
          access: proxy
          orgId: 1
          url: http://prometheus:9090
          basicAuth: false
          isDefault: true
          version: 1
          editable: false
        EOF
        /run.sh

- name: GRAFANA - Define service entry
  ansible.builtin.set_fact:
    grafana_entry:
      name: grafana
      host: "grafana.{{ domain }}"
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 3000
      healthcheck_path: '/api/health'
      scheme: http
      secured: true
      healthcheck: true
      homepage: true
      proxied: true

- name: GRAFANA - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [grafana_entry] }}"
