---
- name: GRAPHITE-EXPORTER - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0777"
  loop:
    - "{{ base_dir }}/graphite-exporter"

- name: GRAPHITE-EXPORTER - Create config
  ansible.builtin.copy:
    content: |
      mappings:
        # ifstats mapping
        - match: 'servers\.(.*)\.interface-(.*)\.if_(.*)'
          match_type: regex
          name: 'truenas_interface_${3}'
          labels:
            hostname: ${1}
            device: ${2}
        # dataset metrics mapping
        - match: 'servers\.(.*)\.df-(.*)\.(.*)'
          match_type: regex
          name: 'truenas_dataset_${3}'
          labels:
            hostname: ${1}
            device: ${2}
        # memory metrics mapping
        - match: 'servers\.(.*)\.memory\.(.*)'
          match_type: regex
          name: 'truenas_${2}'
          labels:
            hostname: ${1}
        # zfs arc metrics mapping
        - match: 'servers\.(.*)\.zfs_arc\.(.*)'
          match_type: regex
          name: 'truenas_zfs_arc_${2}'
          labels:
            hostname: ${1}
        # processes metrics
        - match: 'servers\.(.*)\.processes\.(.*)'
          match_type: regex
          name: 'truenas_processes_${2}'
          labels:
            hostname: ${1}
        # LA metrics
        - match: 'servers\.(.*)\.load\.load\.(.*)'
          match_type: regex
          name: 'truenas_load_${2}'
          labels:
            hostname: ${1}
        # rrd cache metrics
        - match: 'servers\.(.*)\.rrdcached\.(.*)'
          match_type: regex
          name: 'truenas_rrdcached_${2}'
          labels:
            hostname: ${1}
        # swap metrics
        - match: 'servers\.(.*)\.swap\.(.*)'
          match_type: regex
          name: 'truenas_swap_${2}'
          labels:
            hostname: ${1}
        # uptime metric
        - match: 'servers\.(.*)\.uptime\.(.*)'
          match_type: regex
          name: 'truenas_uptime_${2}'
          labels:
            hostname: ${1}
        # disk metrics mapping
        - match: 'servers\.(.*)\.disk-(.*)\.(.*)\.(.*)'
          match_type: regex
          name: 'truenas_${3}_${4}'
          labels:
            hostname: ${1}
            device: ${2}
        # cpu and nfs metrics mapping
        - match: 'servers\.(.*)\.(.*)-(.*)\.(.*)'
          match_type: regex
          name: 'truenas_${2}_${4}'
          labels:
            hostname: ${1}
            device: ${3}
    dest: "{{ base_dir }}/graphite-exporter/graphite_mapping.conf"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: GRAPHITE-EXPORTER - Create container
  community.docker.docker_container:
    name: graphite-exporter
    image: prom/graphite-exporter:v0.16.0
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    ports:
      - "9108:9108"
      - "2003:9109"
      - "2003:9109/udp"
    volumes:
      - "{{ base_dir }}/graphite-exporter/graphite_mapping.conf:/tmp/graphite_mapping.conf"
    command: --graphite.mapping-config=/tmp/graphite_mapping.conf

- name: GRAPHITE-EXPORTER - Define service entry
  ansible.builtin.set_fact:
    graphite_exporter_entry:
      name: graphite-exporter
      host: graphite-exporter.suskins.co.uk
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 9108
      scheme: http
      secured: false
      proxied: false
      metrics_enabled: true
      metrics_port: 9108

- name: GRAPHITE-EXPORTER - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [graphite_exporter_entry] }}"
