---
- name: GROCY - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/grocy"

- name: GROCY - Create container
  community.docker.docker_container:
    name: grocy
    image: ghcr.io/linuxserver/grocy:4.5.0
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    ports:
      - "9283:80"
    volumes:
      - "{{ base_dir }}/grocy:/config"
    env:
      PUID: "{{ puid | string }}"
      PGID: "{{ pgid | string }}"
      TZ: "{{ timezone }}"

- name: GROCY - Define service entry
  ansible.builtin.set_fact:
    grocy_entry:
      name: grocy
      host: grocy.suskins.co.uk
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 9283
      scheme: http
      secured: true
      homepage: true
      proxied: true

- name: GROCY - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [grocy_entry] }}"
