---
- name: HOMEPAGE - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/homepage"

- name: HOMEPAGE - Aggregate services from all hosts
  ansible.builtin.include_tasks:
    file: "../tasks/core/aggregate_services.yml"

- name: HOMEPAGE - Create bookmarks
  ansible.builtin.copy:
    src: ../config/homepage/bookmarks.yaml
    dest: "{{ base_dir }}/homepage/bookmarks.yaml"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: HOMEPAGE - Create services
  ansible.builtin.template:
    src: ../config/homepage/services.yaml.j2
    dest: "{{ base_dir }}/homepage/services.yaml"
    owner: "{{ username }}"
    group: "{{ username }}"
  vars:
    all_services: "{{ all_docker_services }}"

- name: HOMEPAGE - Create settings
  ansible.builtin.copy:
    src: ../config/homepage/settings.yaml
    dest: "{{ base_dir }}/homepage/settings.yaml"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: HOMEPAGE - Create widgets
  ansible.builtin.copy:
    src: ../config/homepage/widgets.yaml
    dest: "{{ base_dir }}/homepage/widgets.yaml"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: HOMEPAGE - Create css
  ansible.builtin.copy:
    src: ../config/homepage/custom.css
    dest: "{{ base_dir }}/homepage/custom.css"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: HOMEPAGE - Create container
  community.docker.docker_container:
    name: homepage
    image: ghcr.io/gethomepage/homepage:v1.8.0
    restart_policy: always
    state: started
    pull: true
    env:
      HOMEPAGE_ALLOWED_HOSTS: "{{ docker_ip }}:3000,home.{{ domain }}"
    networks:
      - name: homelab
    ports:
      - "3000:3000"
    volumes:
      - "{{ base_dir }}/homepage:/app/config"
