---
- name: LOKI - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "10001"
    group: "10001"
    mode: "0755"
  loop:
    - "{{ base_dir }}/loki"
    - "{{ base_dir }}/loki/config"
    - "{{ base_dir }}/loki/data"

- name: LOKI - Create config
  ansible.builtin.copy:
    content: |
      auth_enabled: false

      server:
        http_listen_port: 3100

      common:
        instance_addr: 127.0.0.1
        path_prefix: /loki
        storage:
          filesystem:
            chunks_directory: /loki/chunks
            rules_directory: /loki/rules
        replication_factor: 1
        ring:
          kvstore:
            store: inmemory

      schema_config:
        configs:
          - from: 2020-10-24
            store: tsdb
            object_store: filesystem
            schema: v13
            index:
              prefix: index_
              period: 24h

      ruler:
        alertmanager_url: http://localhost:9093

      limits_config:
        reject_old_samples: false
    dest: "{{ base_dir }}/loki/config/local-config.yaml.j2"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: LOKI - Create container
  community.docker.docker_container:
    name: loki
    image: grafana/loki:3.6.4
    restart_policy: always
    state: started
    pull: true
    ports:
      - "3100:3100"
    networks:
      - name: homelab
    volumes:
      - "{{ base_dir }}/loki/config:/etc/loki"
      - "{{ base_dir }}/loki/data:/loki"

- name: LOKI - Define service entry
  ansible.builtin.set_fact:
    loki_entry:
      name: loki
      host: "loki.{{ domain }}"
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 3100
      scheme: http
      healthcheck: true
      healthcheck_path: "/ready"
      secured: false

- name: LOKI - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [loki_entry] }}"
