---
- name: MEALIE - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/mealie"

- name: MEALIE - Create container
  community.docker.docker_container:
    name: mealie
    image: ghcr.io/mealie-recipes/mealie:v3.10.2
    restart_policy: always
    state: started
    pull: true
    memory: 1000M
    networks:
      - name: homelab
    ports:
      - "9925:9000"
    volumes:
      - '{{ base_dir }}/mealie:/app/data/'
    env:
      PUID: "{{ puid | string }}"
      PGID: "{{ pgid | string }}"
      TZ: "{{ timezone }}"
      ALLOW_SIGNUP: "true"
      MAX_WORKERS: "1"
      WEB_CONCURRENCY: "1"
      ALLOW_PASSWORD_LOGIN: "false"
      OIDC_AUTH_ENABLED: "true"
      OIDC_PROVIDER_NAME: "authelia"
      OIDC_CONFIGURATION_URL: "https://authelia.{{ domain }}/.well-known/openid-configuration"
      OIDC_CLIENT_ID: "mealie"
      OIDC_CLIENT_SECRET: "{{ AUTHELIA_OIDC_MEALIE_SECRET }}"
      OIDC_SIGNUP_ENABLED: "true"
      OIDC_AUTO_REDIRECT: "true"

- name: MEALIE - Define service entry
  ansible.builtin.set_fact:
    mealie_entry:
      name: mealie
      host: "mealie.{{ domain }}"
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 9925
      scheme: http
      secured: true
      healthcheck: true
      homepage: true
      proxied: true

- name: MEALIE - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [mealie_entry] }}"
