---
- name: METUBE - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/metube"

- name: METUBE - Create container
  community.docker.docker_container:
    name: metube
    image: ghcr.io/alexta69/metube:2025-03-07
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    ports:
      - "8081:8081"
    volumes:
      - "/mnt/media:/downloads"
    env:
      UID: "{{ puid | string }}"
      GID: "{{ pgid | string }}"

- name: METUBE - Define service entry
  ansible.builtin.set_fact:
    metube_entry:
      name: metube
      host: metube.suskins.co.uk
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 8081
      scheme: http
      secured: true
      homepage: true
      proxied: true

- name: METUBE - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [metube_entry] }}"
