---
- name: OVERSEERR - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/overseerr"

- name: OVERSEERR - Create container
  community.docker.docker_container:
    name: overseerr
    image: sctx/overseerr:1.34.0
    restart_policy: always
    restart: true
    state: started
    pull: true
    networks:
      - name: homelab
    ports:
      - "5055:5055"
    volumes:
      - "{{ base_dir }}/overseerr:/app/config"
    env:
      PUID: "{{ puid | string }}"
      PGID: "{{ pgid | string }}"
      TZ: "{{ timezone }}"

- name: OVERSEERR - Define service entry
  ansible.builtin.set_fact:
    overseerr_entry:
      name: overseerr
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 5055
      scheme: http
      secured: true
      hidden: false

- name: OVERSEERR - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ (docker_services | default([])) + [overseerr_entry] }}"
