---
- name: PLEX - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/plex"

- name: PLEX - Create container
  community.docker.docker_container:
    name: plex
    image: ghcr.io/linuxserver/plex:1.42.2
    restart_policy: always
    state: started
    pull: true
    network_mode: host
    volumes:
      - "{{ base_dir }}/plex:/config"
      - "/mnt/media:/media"
    devices:
      - /dev/dri:/dev/dri
    env:
      PUID: "{{ puid | string }}"
      PGID: "{{ pgid | string }}"
      TZ: "{{ timezone }}"
      VERSION: "docker"

- name: PLEX - Define service entry
  ansible.builtin.set_fact:
    plex_entry:
      name: plex
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 32400
      healthcheck_path: '/identity'
      scheme: http
      secured: true
      hidden: false

- name: PLEX - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [plex_entry] }}"
