---
- name: POSTGRES - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/postgres"

- name: POSTGRES - Create Container
  community.docker.docker_container:
    name: postgres
    image: postgres:16-alpine
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    ports:
      - "5432:5432"
    volumes:
      - "{{ base_dir }}/postgres/pgdata:/var/lib/postgresql/data"
    env:
      POSTGRES_PASSWORD: "CUSTOM_POSTGRES_PASSWORD"

- name: POSTGRES - Define service entry
  ansible.builtin.set_fact:
    postgres_entry:
      name: postgres
      host: "postgres.{{ domain }}"
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 5432
      scheme: http
      secured: false

- name: POSTGRES - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [postgres_entry] }}"
