---
- name: PROMETHEUS - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0777"
  loop:
    - "{{ base_dir }}/prometheus"
    - "{{ base_dir }}/prometheus/config"

- name: PROMETHEUS - Aggregate services from all hosts
  ansible.builtin.include_tasks:
    file: "../tasks/core/aggregate_services.yml"

- name: PROMETHEUS - Create scrape config
  ansible.builtin.template:
    src: ../config/prometheus/config.yml.j2
    dest: "{{ base_dir }}/prometheus/config/prometheus.yml"
    owner: "{{ username }}"
    group: "{{ username }}"
  vars:
    all_docker_services: "{{ all_docker_services }}"

- name: PROMETHEUS - Create alert rules
  ansible.builtin.copy:
    src: ../config/prometheus/alerts.rule.yml
    dest: "{{ base_dir }}/prometheus/config/alert.rules.yml"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: PROMETHEUS - Create container
  community.docker.docker_container:
    name: prometheus
    image: prom/prometheus:v3.8.1
    restart_policy: always
    state: started
    pull: true
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--web.enable-remote-write-receiver"
    networks:
      - name: homelab
    ports:
      - "9090:9090"
    volumes:
      - "{{ base_dir }}/prometheus/config:/etc/prometheus"
      - "{{ base_dir }}/prometheus/data:/prometheus"

- name: PROMETHEUS - Define service entry
  ansible.builtin.set_fact:
    prometheus_entry:
      name: prometheus
      host: "prometheus.{{ domain }}"
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 9090
      scheme: http
      secured: true
      healthcheck: true
      homepage: true
      proxied: true

- name: PROMETHEUS - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [prometheus_entry] }}"
