---
- name: PROWLARR - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/prowlarr"

- name: PROWLARR - Create container
  community.docker.docker_container:
    name: prowlarr
    image: ghcr.io/linuxserver/prowlarr:2.3.0
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    ports:
      - "9696:9696"
    volumes:
      - "{{ base_dir }}/prowlarr:/config"
    env:
      PUID: "{{ puid | string }}"
      PGID: "{{ pgid | string }}"
      TZ: "{{ timezone }}"

- name: PROWLARR - Define service entry
  ansible.builtin.set_fact:
    prowlarr_entry:
      name: prowlarr
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 9696
      scheme: http
      secured: true
      hidden: false

- name: PROWLARR - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [prowlarr_entry] }}"
