---
- name: PUBGOLF-BACKEND - Add to scrape configs
  ansible.builtin.set_fact:
    prometheus_scrape_configs: >-
      {{
        (prometheus_scrape_configs | default([])) +
        [ {
          'job_name': 'pubgolf',
          'scrape_interval': '60s',
          'metrics_path': '/actuator/prometheus',
          'static_configs': [ { 'targets': [ ansible_host ~ ':8080' ] } ]
        } ]
      }}

- name: PUBGOLF-BACKEND - Create container
  community.docker.docker_container:
    name: pubgolf-backend
    image: ghcr.io/bensuskins/pubgolf-backend:06d68fa
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    ports:
      - "8080:8080"
    env:
      SPRING_PROFILES_ACTIVE: "prod"
      DB_HOST: "pubgolf-postgres"
      DB_USERNAME: "{{ DB_USERNAME }}"
      DB_PASSWORD: "{{ DB_PASSWORD }}"
      DB_PORT: "5432"
