---
- name: PUBGOLF-BACKEND - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/pubgolf"

- name: PUBGOLF-BACKEND - Create container
  community.docker.docker_container:
    name: pubgolf-backend
    image: ghcr.io/bensuskins/pubgolf-backend:36a25bc1
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    volumes:
      - "{{ base_dir }}/pubgolf:/data"      
    ports:
      - "8080:8080"
    env:
      SPRING_PROFILES_ACTIVE: "prod"

- name: PUBGOLF-BACKEND - Define service entry
  ansible.builtin.set_fact:
    pubgolf_backend_entry:
      name: pubgolf-backend
      host: api.pubgolf.me
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 8080
      scheme: http
      secured: false
      healthcheck: true
      healthcheck_path: '/actuator/health'
      proxied: true
      path_prefix: /api/v1
      metrics_port: 8080
      metrics_path: /actuator/prometheus

- name: PUBGOLF-BACKEND - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [pubgolf_backend_entry] }}"
