---
- name: QBITTORRENT - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/qbittorrent"

- name: QBITTORRENT - Create container
  community.docker.docker_container:
    name: qbittorrent
    image: lscr.io/linuxserver/qbittorrent:5.1.4
    restart_policy: always
    state: started
    pull: true
    network_mode: container:gluetun
    volumes:
      - "{{ base_dir }}/qbittorrent:/config"
      - "/mnt/media:/media"
    env:
      PUID: "{{ puid | string }}"
      PGID: "{{ pgid | string }}"
      TZ: "{{ timezone }}"
      WEBUI_PORT: "9091"

- name: QBITTORRENT - Define service entry
  ansible.builtin.set_fact:
    qbittorrent_entry:
      name: qbittorrent
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 9091
      scheme: http
      secured: true
      hidden: false

- name: QBITTORRENT - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [qbittorrent_entry] }}"
