---
- name: RADARR - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/radarr"

- name: RADARR - Create container
  community.docker.docker_container:
    name: radarr
    image: ghcr.io/linuxserver/radarr:5.28.0
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    ports:
      - "7878:7878"
    volumes:
      - "{{ base_dir }}/radarr:/config"
      - "/mnt/media:/media"
    env:
      PUID: "{{ puid | string }}"
      PGID: "{{ pgid | string }}"
      TZ: "{{ timezone }}"

- name: RADARR - Define service entry
  ansible.builtin.set_fact:
    radarr_entry:
      name: radarr
      host: radarr.suskins.co.uk
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 7878
      scheme: http
      secured: true
      hidden: false

- name: RADARR - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [radarr_entry] }}"
