---
- name: SONARR - Create directory and permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/sonarr"

- name: SONARR - Create container
  community.docker.docker_container:
    name: sonarr
    image: ghcr.io/linuxserver/sonarr:4.0.16
    restart_policy: always
    restart: true
    state: started
    pull: true
    networks:
      - name: homelab
    ports:
      - "8989:8989"
    volumes:
      - "{{ base_dir }}/sonarr:/config"
      - "/mnt/media:/media"
    env:
      PUID: "{{ puid | string }}"
      PGID: "{{ pgid | string }}"
      TZ: "{{ timezone }}"

- name: SONARR - Define service entry
  ansible.builtin.set_fact:
    sonarr_entry:
      name: sonarr
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 8989
      scheme: http
      secured: true
      hidden: false

- name: SONARR - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ (docker_services | default([])) + [sonarr_entry] }}"
