---
- name: TRAEFIK - Create directories and set permissions
  ansible.builtin.file:
    path: "{{ item }}"
    recurse: true
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0750"
  loop:
    - "{{ base_dir }}/traefik"
    - "{{ base_dir }}/traefik/dynamic"
    - "{{ base_dir }}/traefik/logs"

- name: TRAEFIK - Aggregate services from all hosts
  ansible.builtin.include_tasks:
    file: "../tasks/core/aggregate_services.yml"

- name: TRAEFIK - Create config
  ansible.builtin.copy:
    src: ../config/traefik/traefik.toml
    dest: "{{ base_dir }}/traefik/traefik.toml"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: TRAEFIK - Create ratelimit middleware
  ansible.builtin.copy:
    src: ../config/traefik/dynamic/middlewares-ratelimit.toml
    dest: "{{ base_dir }}/traefik/dynamic/middlewares-ratelimit.toml"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: TRAEFIK - Create unifi middleware
  ansible.builtin.copy:
    src: ../config/traefik/dynamic/middlewares-unifi.toml
    dest: "{{ base_dir }}/traefik/dynamic/middlewares-unifi.toml"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: TRAEFIK - Create authentik middleware
  ansible.builtin.copy:
    src: ../config/traefik/dynamic/middlewares-authentik.toml
    dest: "{{ base_dir }}/traefik/dynamic/middlewares-authentik.toml"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: TRAEFIK - Create ssl
  ansible.builtin.copy:
    src: ../config/traefik/dynamic/ssl.toml
    dest: "{{ base_dir }}/traefik/dynamic/ssl.toml"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: TRAEFIK - Create services
  ansible.builtin.template:
    src: ../config/traefik/dynamic/http.yml.j2
    dest: "{{ base_dir }}/traefik/dynamic/http.yml"
    owner: "{{ username }}"
    group: "{{ username }}"
  vars:
    all_services: "{{ all_docker_services }}"

- name: TRAEFIK - Deploy container
  community.docker.docker_container:
    name: traefik
    image: "traefik:v3.6"
    restart_policy: always
    state: started
    pull: true
    networks:
      - name: homelab
    command: >
      --configFile=/config/traefik.yml
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "{{ base_dir }}/traefik:/etc/traefik"
      - "{{ base_dir }}/traefik/logs:/logs"
    env:
      TZ: "{{ timezone }}"

- name: TRAEFIK - Define service entry
  ansible.builtin.set_fact:
    traefik_entry:
      name: traefik
      host: traefik.suskins.co.uk
      ip: "{{ inventory_hostname }}"
      friendly_name: "{{ friendly_name }}"
      port: 8080
      scheme: http
      secured: true
      homepage: true
      proxied: true
      metrics: true
      metrics_port: 8080

- name: TRAEFIK - Append to docker_services
  ansible.builtin.set_fact:
    docker_services: "{{ docker_services + [traefik_entry] }}"
